/* ? BLOCK DESCRIPTION==> css reset */
@layer reset {
  a {
    color: currentColor;
    text-decoration: none;
  }
}
.row-form-data [class^="v-col"] {
  padding-block: 3px !important;
}
.row-form-data {
  margin-top: 25px !important;
}
.preview-header {
  border-block: 1px dashed rgba(var(--v-theme-border));
}
.preview-row {
  padding: 5px;
}
.preview-row span {
  width: 20ch;
}
